/*Mixins Variables ETC*/
/* sets all box widths to the size declared. Border and padding DO NOT expand the size but squish the content.*/
/* line 7, ../sass/_grid-layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/_grid-layout.scss */
body {
  font-size: 16px;
}

@media screen and (max-width: 30em) {
  /* line 46, ../sass/_grid-layout.scss */
  #page {
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    min-width: 320px;
    padding-right: 0;
    padding-left: 0;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-small-1 {
    width: 50%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-small-2, #block-block-12 {
    width: 100%;
    padding: 0 0.625em;
    float: left;
  }
}
@media screen and (min-width: 30.0625em) and (max-width: 52.5em) {
  /* line 58, ../sass/_grid-layout.scss */
  #page {
    max-width: 840px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-medium-1 {
    width: 16.66667%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-medium-2 {
    width: 33.33333%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-medium-3 {
    width: 50%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-medium-4 {
    width: 66.66667%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-medium-5 {
    width: 83.33333%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-medium-6, #block-block-12 {
    width: 100%;
    padding: 0 0.625em;
    float: left;
  }
}
@media screen and (min-width: 52.5625em) {
  /* line 68, ../sass/_grid-layout.scss */
  #page {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-1 {
    width: 8.33333%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-2 {
    width: 16.66667%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-3 {
    width: 25%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-4, #block-block-12 {
    width: 33.33333%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-5 {
    width: 41.66667%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-6 {
    width: 50%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-7 {
    width: 58.33333%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-8 {
    width: 66.66667%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-9 {
    width: 75%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-10 {
    width: 83.33333%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-11 {
    width: 91.66667%;
    padding: 0 0.625em;
    float: left;
  }

  /* line 32, ../sass/_grid-layout.scss */
  .grid-wide-12 {
    width: 100%;
    padding: 0 0.625em;
    float: left;
  }
}
/*@extend this class by adding to any called style*/
/* line 12, ../sass/hollywood.scss */
.clearfix:after, #navigation:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

/* line 24, ../sass/hollywood.scss */
#page {
  margin: 0 auto;
}

/*end mixins variables*/
/* line 30, ../sass/hollywood.scss */
a {
  color: #c20000;
  text-decoration: none;
}
/* line 33, ../sass/hollywood.scss */
a:hover {
  color: #000;
}

/* line 36, ../sass/hollywood.scss */
li {
  list-style: none;
}

/* line 40, ../sass/hollywood.scss */
.button {
  padding: 20px 25px;
  background-color: #c20000;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 47, ../sass/hollywood.scss */
.button a {
  color: #fff;
  font-size: 20px;
}

/* line 54, ../sass/hollywood.scss */
#page {
  width: 960px;
  margin: 0px auto;
}

/* line 59, ../sass/hollywood.scss */
.block h2.block-title {
  font-size: 1.5em;
  line-height: 1em;
  border-bottom: 1px solid #f1f0f0;
  padding-bottom: 10px;
  margin-bottom: 20px !important;
  color: #222222;
}

/* line 70, ../sass/hollywood.scss */
header {
  font-size: 12px;
}
/* line 72, ../sass/hollywood.scss */
header p {
  float: right;
}
/* line 75, ../sass/hollywood.scss */
header a {
  font-weight: bold;
  margin-left: 10px;
}
/* line 79, ../sass/hollywood.scss */
header a:first-child {
  margin-left: 20px;
}

/* line 84, ../sass/hollywood.scss */
#navigation {
  background-color: #222222;
  height: auto;
  padding: 5px;
  position: relative;
}

/* line 95, ../sass/hollywood.scss */
#main-menu {
  float: right;
  margin-top: 1.250em;
}
/* line 100, ../sass/hollywood.scss */
#main-menu a {
  text-decoration: none;
  color: #fff;
}
/* line 103, ../sass/hollywood.scss */
#main-menu a:hover {
  color: #c20000;
}
/* line 105, ../sass/hollywood.scss */
#main-menu li {
  margin-right: 10px;
}

/* line 111, ../sass/hollywood.scss */
.region-hero {
  width: 100%;
  height: 27.750em;
  margin-top: -2px;
  z-index: -11;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
}

/* line 123, ../sass/hollywood.scss */
.slide-desc {
  width: 400px;
  padding: 0.625em 1.250em;
  background: rgba(194, 0, 0, 0.6);
  position: absolute;
  top: 50px;
  color: #fff;
}

/* line 133, ../sass/hollywood.scss */
h1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* line 136, ../sass/hollywood.scss */
.right-col {
  float: right;
}

/* line 147, ../sass/hollywood.scss */
#block-views-blog-block {
  padding: 0;
}

/* line 152, ../sass/hollywood.scss */
.view-blog .grid-wide-12 {
  padding: 0;
}

/* line 157, ../sass/hollywood.scss */
.blog {
  margin-bottom: 70px;
}

/* line 162, ../sass/hollywood.scss */
.view-blog .views-row {
  border: 1px solid #f1f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.34);
  -moz-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.34);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.34);
  border-radius: 5px;
  margin: 0px 5px;
  padding-bottom: 5px;
}
/* line 172, ../sass/hollywood.scss */
.view-blog .views-row .views-field-field-image {
  margin: 0px -10px;
}
/* line 175, ../sass/hollywood.scss */
.view-blog .views-row .views-field-title {
  font-weight: bold;
  font-size: 18px;
}

/* line 185, ../sass/hollywood.scss */
.free-trial {
  float: right !important;
  margin-top: 30px;
}

/* line 190, ../sass/hollywood.scss */
.free-trial h2 {
  font-size: 32px;
}

/* line 195, ../sass/hollywood.scss */
.free-trial ul {
  padding-left: 0px;
}
/* line 197, ../sass/hollywood.scss */
.free-trial ul li {
  list-style: none;
  margin: 10px 0px;
}

/* line 204, ../sass/hollywood.scss */
.checkmark {
  background-image: url(../images/check-mark.png);
  height: 20px;
  width: 24px;
  display: inline-block;
  margin: 10px 10px -2px 0px;
}

/* line 213, ../sass/hollywood.scss */
.testimonials {
  margin-bottom: 70px;
}

/* line 217, ../sass/hollywood.scss */
.views-field-field-member {
  float: right;
  font-weight: bold;
}

/* line 223, ../sass/hollywood.scss */
.view-id-nodequeue_1 ul {
  padding: 0px;
  margin-top: -20px;
}
/* line 226, ../sass/hollywood.scss */
.view-id-nodequeue_1 ul li {
  width: 50%;
  float: left;
}

/* line 234, ../sass/hollywood.scss */
.email {
  width: 65%;
  height: 40px;
  padding: 5px;
  float: left;
  margin-bottom: 50px;
  background-color: #f1f0f0;
  color: #adb4b9;
}

/* line 244, ../sass/hollywood.scss */
.email-action {
  width: 300px;
  float: left;
  margin-left: 20px;
  margin-top: -27px;
  font-size: 14px;
  font-style: italic;
  color: #adb4b9;
}

/*Overwrite*/
/* line 256, ../sass/hollywood.scss */
.grid-wide-4, #block-block-12 {
  width: 33.33333%;
  float: left;
}

/*Overwrite*/
/* line 263, ../sass/hollywood.scss */
.grid-wide-6 {
  width: 48% !important;
  float: left;
}

/*blog Tweaks MS*/
/* line 272, ../sass/hollywood.scss */
.page-node-16 .view-blog .views-row {
  margin-bottom: 50px;
  padding: 0 0.625em;
  padding-bottom: 10px;
}
/* line 276, ../sass/hollywood.scss */
.page-node-16 .view-blog .views-row .views-field-title {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0px;
}

/* line 283, ../sass/hollywood.scss */
.views-label-field-tags {
  float: left;
  margin-right: 10px;
  font-style: italic;
}

/* line 292, ../sass/hollywood.scss */
#footer {
  background: #222;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}
/* line 297, ../sass/hollywood.scss */
#footer .block {
  margin-bottom: 0;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}
/* line 302, ../sass/hollywood.scss */
#footer h2 {
  font-size: 18px;
}

/* line 308, ../sass/hollywood.scss */
.footer-left ul {
  padding: 0;
}
/* line 310, ../sass/hollywood.scss */
.footer-left ul li {
  list-style: none;
}
/* line 313, ../sass/hollywood.scss */
.footer-left ul a {
  color: #fff;
}
/* line 316, ../sass/hollywood.scss */
.footer-left ul a:hover {
  color: #c20000;
}

/* line 322, ../sass/hollywood.scss */
.social-icons {
  padding: 0;
}
/* line 324, ../sass/hollywood.scss */
.social-icons li {
  float: left;
  list-style: none;
}
/* line 327, ../sass/hollywood.scss */
.social-icons li a {
  display: inline-block;
  margin-right: 10px;
  height: 34px;
  width: 31px;
}
/* line 333, ../sass/hollywood.scss */
.social-icons li .youtube {
  background: url(../images/yt.png);
}
/* line 336, ../sass/hollywood.scss */
.social-icons li .facebook {
  background: url(../images/f.png);
}
/* line 339, ../sass/hollywood.scss */
.social-icons li .twitter {
  background: url(../images/t.png);
}

/* line 345, ../sass/hollywood.scss */
.footer-mid p {
  line-height: 1.3em;
  margin-bottom: 1em;
}

/* line 350, ../sass/hollywood.scss */
footer .block h2.block-title {
  color: #fff;
}
