/*Mixins Variables ETC*/
@import "compass";
@import "_grid-layout.scss";

@mixin hide-text{
	text-indent: -119988px;
		overflow: hidden;
	text-align: left;
}

$red:#c20000;

#page{
	margin:0 auto;
}

/*end mixins variables*/

a{
	color:$red;
	text-decoration:none;
	&:hover{color:#000;}
}

h2 {
	font-size: 2.5em;
	line-height: 1em;
}


header{
	font-size:12px;
	p{
		float:right;
	}
	a{
		font-weight:bold;
		margin-left:10px;
	}
	a:first-child{
		margin-left:20px;
	}
}

#navigation{
	background:{
		color:#222222;
	}
	height: 70px;
	padding: 5px;
}

#main-menu{
	float:right;
	margin:{
		top:1.250em;
	}
	a{
		text-decoration: none;
		color:#fff;
		&:hover{color:$red;}
	}
	li{
		margin-right:10px;
	}
}


.region-hero{
	width:100%;
	height:27.750em;
	margin-top:-2px;

	background:{
		image:url('../images/hero.png');
		repeat: no-repeat;
	}
}

.slide-desc{
	width:40%;
	padding:0.625em 1.250em;
	@include background(rgba($red,0.6));
	position:absolute;
	top:50px;
	color:#fff;
}


h1{
	@include hide-text();
}
.right-col{
	float:right;
}

<<<<<<< HEAD
//if the block ever take the classes in the form, happily delete
#block-block-12{
	@extend .grid-wide-4;
	@extend .grid-medium-6;
	@extend .grid-small-2;
}
#block-views-blog-block{
	padding:0;
}
.view-blog{
	.grid-wide-12{
		padding:0;
	}
=======

/*Overwrite*/
.grid-wide-4 {
width: 33.33333%;
//padding: 0 0em;
float: left;
}


#footer {
	background:#222;
	color:#fff;
	font-size:14px;
	padding:10px;
	.block {
		margin-bottom:0;
		padding-top:0.625em;
		padding-bottom:0.625em;
	}
	h2 {
		font-size:18px;
	}
}

.footer-left {
	ul {
		padding:0;
		li {
			list-style:none;
		}
		a {
			color:#fff;
		}
		a:hover {
			color:#c20000;
		}
	}
}

.social-icons {
	padding:0;
	li {
		float:left;
		list-style:none;
		a {
			display:inline-block;
			margin-right:10px;
			height:35px;
			width:31px;
		}
		.youtube {
			background:url(../images/yt.png);
		}
		.facebook {
			background:url(../images/f.png);
		}
		.twitter {
			background:url(../images/t.png);
		}
	}
}

.footer-mid p {
	line-height:1.3em;
	margin-bottom:1em;
>>>>>>> 53c06aa0b52445a0338da4259f6843dc97661ac0
}