/*Mixins Variables ETC*/
@import "compass";
@import "_grid-layout.scss";

@mixin hide-text{
	text-indent: -119988px;
		overflow: hidden;
	text-align: left;
}

$red:#c20000;

#page{
	margin:0 auto;
}

/*end mixins variables*/

a{
	color:$red;
	text-decoration:none;
	&:hover{color:#000;}
}

li{
	list-style:none;
}

.button{
	padding:20px 25px;
	background-color:$red;
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	a{
		color:#fff;
		font-size:20px;
	}

}

#page{
	width:960px;
	margin:0px auto;
}

.block h2.block-title {
	font-size: 1.5em;
	line-height: 1em;
	border-bottom: 1px solid #f1f0f0;
	padding-bottom: 10px;
	margin-bottom: 20px !important;
	color:#222222;
}



header{
	font-size:12px;
	p{
		float:right;
	}
	a{
		font-weight:bold;
		margin-left:10px;
	}
	a:first-child{
		margin-left:20px;
	}
}

#navigation{
	background:{
		color:#222222;
	}
	min-height: 70px;
	padding: 5px;
}

#main-menu{
	float:right;
	margin:{
		top:1.250em;
	}
	a{
		text-decoration: none;
		color:#fff;
		&:hover{color:$red;}
	}
	li{
		margin-right:10px;
	}
}


.region-hero{
	width:100%;
	height:27.750em;
	margin-top:-2px;
	z-index: -11;

	background:{
		image:url('../images/hero.png');
		repeat: no-repeat;
	}
}

.slide-desc{
	width:400px;
	padding:0.625em 1.250em;
	@include background(rgba($red,0.6));
	position:absolute;
	top:50px;
	color:#fff;
}


h1{
	@include hide-text();
}
.right-col{
	float:right;
}


//if the block ever take the classes in the form, happily delete
#block-block-12{
	@extend .grid-wide-4;
	@extend .grid-medium-6;
	@extend .grid-small-2;
}
#block-views-blog-block{
	padding:0;
}

.view-blog{
	.grid-wide-12{
		padding:0;
	}
}

.blog{
	margin-bottom:70px;
}


.view-blog .views-row{
	border: 1px solid #f1f0f0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.34);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.34);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.34);
	border-radius: 5px;
	margin:0px 5px;
	padding-bottom:5px;
	.views-field-field-image{
		margin:0px -10px;
	}
	.views-field-title{
		font-weight: bold;
		font-size: 18px;
	}

}




.free-trial{
	float:right !important;
	margin-top: 30px;
}

.free-trial h2{
	font-size:32px;
}

.free-trial{
	ul{
		padding-left:0px;
		li{
			list-style:none;
			margin:10px 0px;
		}
	}
}

.checkmark{
	background-image: url(../images/check-mark.png);
	height: 20px;
	width: 24px;
	display: inline-block;
	margin: 10px 10px -2px 0px;
}


.testimonials{
	margin-bottom: 70px;
}

.views-field-field-member{
	float:right;
	font-weight:bold;
}

.view-id-nodequeue_1{
	ul{
		padding:0px;
		margin-top:-20px;
		li{
			width:50%;
			float:left;
		}
	}
}


.email{
	width: 65%;
	height: 40px;
	padding:5px;
	float:left;
	margin-bottom:50px;
	background-color: #f1f0f0;
	color:#adb4b9;
}

.email-action{
	width: 300px;
	float: left;
	margin-left: 20px;
	margin-top: -27px;
	font-size:14px;
	font-style:italic;
	color:#adb4b9;

}

/*Overwrite*/
.grid-wide-4 {
width: 33.33333%;
//padding: 0 0em;
float: left;
}

/*Overwrite*/
.grid-wide-6 {
width: 48% !important;
//padding: 0 0em;
float: left;
}


/*blog Tweaks MS*/

.page-node-16 .view-blog .views-row{
	margin-bottom:50px;
	padding:0 0.625em;
	padding-bottom:10px;
	.views-field-title{
		font-weight: bold;
		font-size: 18px;
		margin:10px 0px
	}
}

.views-label-field-tags{
	float:left;
	margin-right:10px;
	font-style:italic;
}




#footer {
	background:#222;
	color:#fff;
	font-size:14px;
	padding:10px;
	.block {
		margin-bottom:0;
		padding-top:0.625em;
		padding-bottom:0.625em;
	}
	h2 {
		font-size:18px;
	}
}

.footer-left {
	ul {
		padding:0;
		li {
			list-style:none;
		}
		a {
			color:#fff;
		}
		a:hover {
			color:#c20000;
		}
	}
}

.social-icons {
	padding:0;
	li {
		float:left;
		list-style:none;
		a {
			display:inline-block;
			margin-right:10px;
			height:34px;
			width:31px;
		}
		.youtube {
			background:url(../images/yt.png);
		}
		.facebook {
			background:url(../images/f.png);
		}
		.twitter {
			background:url(../images/t.png);
		}
	}
}

.footer-mid p {
	line-height:1.3em;
	margin-bottom:1em;
}

footer .block h2.block-title{
	color:#fff;
}
