/*Mixins Variables ETC*/
@import "compass";
@import "_grid-layout.scss";

@mixin hide-text{
	text-indent: -119988px;
		overflow: hidden;
	text-align: left;
}

$red:#c20000;

#page{
	margin:0 auto;
}

/*end mixins variables*/

a{
	color:$red;
	text-decoration:none;
	&:hover{color:#000;}
}

h2 {
	font-size: 2.5em;
	line-height: 1em;
}


header{
	font-size:12px;
	p{
		float:right;
	}
	a{
		font-weight:bold;
		margin-left:10px;
	}
	a:first-child{
		margin-left:20px;
	}
}

#navigation{
	background:{
		color:#222222;
	}
	height: 70px;
	padding: 5px;
}

#main-menu{
	float:right;
	margin:{
		top:1.250em;
	}
	a{
		text-decoration: none;
		color:#fff;
		&:hover{color:$red;}
	}
	li{
		margin-right:10px;
	}
}


.region-hero{
	width:100%;
	height:27.750em;
	margin-top:-2px;

	background:{
		image:url('../images/hero.png');
		repeat: no-repeat;
	}
}

.slide-desc{
	width:40%;
	padding:0.625em 1.250em;
	@include background(rgba($red,0.6));
	position:absolute;
	top:50px;
}


h1{
	@include hide-text();
}
.right-col{
	float:right;
}

//if the block ever take the classes in the form, happily delete
#block-block-12{
	@extend .grid-wide-4;
	@extend .grid-medium-6;
	@extend .grid-small-2;
}
#block-views-blog-block{
	padding:0;
}
.view-blog{
	.grid-wide-12{
		padding:0;
	}
}